@font-face {
    font-family: "BKoodak";
    src: url(../dist/fonts/BKoodak.eot);
    src: url(../dist/fonts/BKoodak.ttf);
    src: url(../dist/fonts/BKoodak.woff);
}

$font-family-BKoodak :"BKoodak";